body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    background-color: #f4f4f4; /* tło  */
}

h1 {
    text-align: center;
    color: #333; /* kolor tekstu */
}

/* formularze */
#product-form, #edit-form {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#products-list, #products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* centrowanie porduktow */
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: calc(33.333% - 20px);
    background-color: white;
}

.product-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* buttons'y */
button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* modal logowania */
#login-modal {
    display: none;
    position: fixed;
    right: 20px;
    top: 60px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    width: 300px;
}

#login-modal h2 {
    margin-top: 0;
    color: #333;
}

#login-modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

#login-modal button {
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
}
